[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-quotes = "*"
flake8-print = "*"
flake8-isort = "*"
isort = "*"
pytest = "*"
boto3 = "*"
awscli = "*"
ipython = "*"

[packages]
